In [1]:
True

True

In [2]:
False

False

In [3]:
type(True)

bool

In [4]:
my_str="kizo"
my_str.capitalize

In [5]:
print(my_str)

kizo

In [29]:
print(my_str.isalpha())

True

In [30]:
print(my_str.isalnum())

True

In [31]:
n=[]
type(n)

list

In [32]:
k=["chemistry","python",100,4000,"google"]

In [33]:
print(k
     )

['chemistry', 'python', 100, 4000, 'google']

In [34]:
len(k)

5

# Append

append is used to add the respective element at the end of the list.

In [35]:
k.append("kizo")

In [36]:
k

['chemistry', 'python', 100, 4000, 'google', 'kizo']

In [37]:
k.append([5,6]) ## this will add/append a nested list in the existing list 
k

['chemistry', 'python', 100, 4000, 'google', 'kizo', [5, 6]]

## Indexing in list
Indexing in list always start from number 0. 
to call the particular value from a list, the following command is used

In [38]:
k[4]

'google'

In [39]:
k[1:4]

['python', 100, 4000]

In [40]:
k[0:-1] # to get the range till the lst before one digit

['chemistry', 'python', 100, 4000, 'google', 'kizo']

In [41]:
k[0:] #to get all the element

['chemistry', 'python', 100, 4000, 'google', 'kizo', [5, 6]]

## Insert
To insert a value at a specific position. Whereas the append function will add the value at the last of the list.

In [42]:
k

['chemistry', 'python', 100, 4000, 'google', 'kizo', [5, 6]]

In [43]:
k.insert(0,"kiruba")

In [44]:
k

['kiruba', 'chemistry', 'python', 100, 4000, 'google', 'kizo', [5, 6]]

## Extend
Even if the code is given as append nested list types, It'll add the values as an individual values at last of the list

In [45]:
k.extend([5,6])
k

['kiruba', 'chemistry', 'python', 100, 4000, 'google', 'kizo', [5, 6], 5, 6]

## Various operations in list

In [53]:
lst=[1,2,3,4,5,6]
sum(lst) #adds up all the elements in the list

21

## Pop() method

In [54]:
lst.pop() # removes the last element if no indexing is provided

6

In [55]:
lst.pop(0)

1

In [56]:
lst

[2, 3, 4, 5]

## Count(): calculates the total occurence of a given element of a list

In [2]:
lst_1=[1,1,1,2,2,3,4,5,6,6]

In [3]:
lst_1.count(1)

3

In [10]:
#index(): returns the index of the first occurrence. Start and end index are not necessary parameters
lst_1.index(2) # providing the value and not the index

3

In [13]:
lst_1.index(3) # lst_1.index(value, start index, stop index)

5

In [67]:
min(lst_1)

1

In [68]:
max(lst_1)

6

In [72]:
lst_2=[2,3,4,5]

In [73]:
lst_2*2

[2, 3, 4, 5, 2, 3, 4, 5]