# Sets
It is a unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [1]:
# defining an empty set
set_var=set()
type(set_var)

set

In [4]:
set_var={1,2,2,3,4,4,5,3}
set_var

{1, 2, 3, 4, 5}

The above output has no duplicate elements eventhough it's mentioned at first

In [15]:
set_var={"benz","BMW","audi"}
set_var

{'BMW', 'audi', 'benz'}

In [16]:
# indexing doesn't work in sets
set_var(0)

TypeError: 'set' object is not callable

In [17]:
set_var("benz")

TypeError: 'set' object is not callable

## In_built functions in sets:
### Add an element

In [24]:
set_var.add('Mini')

In [25]:
set_var

{'BMW', 'Mini', 'audi', 'benz'}

### Sets in python have the same functions as in the maths  
Like in sets in maths having difference, intersection etc...

In [32]:
set1={"benz","bmw","audi","bentley"}
set2={"benz","bmw","audi"}

In [33]:
set1.difference(set2)

{'bentley'}

In [34]:
set2.difference(set1)

set()

In [35]:
# difference_update: used to find the difference of the respective set and also update the respective set
set1.difference_update(set2)
set1 #only the difference between both the sets will be updated to the respective set

{'bentley'}

In [39]:
set3={"benz","bmw","audi","bentley"}

In [45]:
set3.intersection(set2)
set3

{'audi', 'benz', 'bmw'}

# DICTIONARIES:
it is a collection which is unordered, changeable and indexed. it is written by using " {} "
they have key and values

In [47]:
# sets and dictionaries are almost similar but dictionaries have keys and we can call a variable using the key name.
h1={"audi","bmw","benz"}
type (h1)

set

In [52]:
h2={"car1":"audi","car2":"bmw","car3":"benz"}  # where car1, car2... are keys and the car names are values of the respective keys
type(h2)

dict

In [53]:
h2['car1'] # accessing the values from the dictionary using the keys

'audi'

In [54]:
# we can iterate through the dictionaries
for x in h2:
    print(x)

car1
car2
car3

In [55]:
for x in h2.values():
    print(x)

audi
bmw
benz

In [56]:
for x in h2.items():
    print(x)

('car1', 'audi')
('car2', 'bmw')
('car3', 'benz')

In [58]:
# aadding an element in a dictionary:
h2["car4"]="bentley" # bentley is added at last along with its desired key name
h2

{'car1': 'audi', 'car2': 'bmw', 'car3': 'benz', 'car4': 'bentley'}

In [60]:
#replacing a valus in a dictionary
h2["car1"]="lambo" # the value at the key(car1) will get replaced with the new value 
h2

{'car1': 'lambo', 'car2': 'bmw', 'car3': 'benz', 'car4': 'bentley'}

# Nested Dictionary

In [2]:
cm1={"benz":1885}
cm2={"bmw":1910}
cm3={"audi":1930}
car_dict={"car1":cm1,"car2":cm2,"car3":cm3} # will give a nested dictionary

In [3]:
type(cm1)

dict

In [4]:
print(car_dict)

{'car1': {'benz': 1885}, 'car2': {'bmw': 1910}, 'car3': {'audi': 1930}}

In [5]:
type(car_dict)

dict

In [65]:
# accessing the items in the dictionary
print(car_dict['car1'])

{'benz': 1885}

In [66]:
print(car_dict['car1']['benz'])

1885

# Tuples:
Once a tuple is defined, we can't change the elemens of the tuples

In [67]:
my_tuple=tuple()

In [68]:
type(my_tuple)

tuple

In [69]:
my_tuple=()
type(my_tuple)

tuple

In [70]:
my_tuple=("sony","bose","jbl")
print(my_tuple)

('sony', 'bose', 'jbl')

In [73]:
my_tuple[0] # square brackets is used to call an index in tuple

'sony'

In [74]:
# the particular element cant be changed
my_tuple[0]="apple"

TypeError: 'tuple' object does not support item assignment